.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../public/bg-superbowl.jpg') no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  padding-top: 40px;
  top: 0;
  z-index: -1;
}

.hero:after {
  content: '';
  background: rgba(0,0,0,.65);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.main {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  max-width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title small {
  display: block;
  font-size: .3em;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title img {
  display: block;
  margin: 0 auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  z-index: 999;
}


.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  max-width: 100%;
  flex-direction: column;
}

.glow {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: 0;
  transform: rotate(85deg);
}

.logo {
  height: 1em;
}

.matchScore {
  display: flex;
  flex-direction: row;
  width: 600px;
  max-width: 100%;
  margin: 50px auto 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.matchTeam {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 4em;
  flex: 0 0 40%;
}

.matchTeam img {
  height: 70px;
}

.matchTeam span,
.matchTeam p {
  color: white;
  text-transform: uppercase;
  font-weight: bolder
}

.matchTeam span {
  font-size: 6em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .main {
    width: 100%;
    padding: 0;
  }

  .card {
    margin: 0;
  }

  .team p {
    font-size: 0.7rem;
  }

  .glow {
    display: none;
  }

  .matchTeam {
    margin: 0 1em;
  }

  .matchTeam span {
    font-size: 3em;
  }
}

@media (max-width: 320px)  {
  .hero {
    height: 100vh;
  }
}